{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Recharge App</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <!-- <link href="{% static 'assets/img/favicon.png' %}" rel="icon"> -->
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' %}"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="bg-danger logo">
                <h1><a href="/" class="mx-2"> RECHARGE YOUR DEVICE </a></h1>
                
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="/">Home</a></li>
                    <li><a class="nav-link scrollto" href="/MobileRecharge">Mobile Recharge</a></li>
                    <li><a class="nav-link scrollto" href="/DthRecharge">DTH Recharge</a></li>
                    
                    

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->


    <div class="container mt-3 mb-3">

        <div class="card mx-1 bg-light">
            <form class="mx-3">
                <div class="mb-3 row">
                    <label for="Heading" class="col-sm-10 col-form-label fs-1 mx-3">DTH RECHARGE</label>
                </div>       

                <div class="mb-3 row d-flex">
                    <label for="DTHOperator" class="mx-2 col-lg-2 col-sm-4 col-form-label fs-6">DTH Operator</label>
                    <div class="col-sm-6 col-md-4">
                        <select class="form-select" aria-label="Default select Operator">
                            <option selected>Select Operator</option>
                            <option value="1">DishTV</option>
                            <option value="2">D2H</option>
                            <option value="3">Airtel Digital TV</option>
                            <option value="2">Tata Sky</option>
                            <option value="2">Independent TV</option>
                            <option value="2">DD Free Dish</option>
                            <option value="2">Sun Direct</option>
                            <option value="2">Zing Digital</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row d-flex">
                    <label for="CustomerID" class="col-lg-2 col-sm-4 col-form-label mx-2 fs-6">CustomerID</label>
                    <div class="col-sm-6 col-md-4">
                        <input type="tel" class="form-control" placeholder="CustomerID" />
                    </div>
                </div>

                <div class="mb-3 row d-flex">
                    <label for="RechargeAmount" class="col-lg-2 col-sm-4 col-form-label mx-2 fs-6">Recharge Amount</label>
                    <div class="col-sm-6 col-md-4">
                        <input type="number" class="form-control" placeholder="Amount" />
                    </div>
                </div>

                <div class="mb-3 row d-flex ">
                    <div class="col-sm-4 offset-md-2 offset-sm-4">
                        <button class="btn btn-primary mx-3 ">
                            Pay Now
                        </button>

                    </div>
                </div>

            </form>
        </div>



    </div>
    <footer id="footer">
    
        <div class="footer-top">
    
            <div class="container">
    
                <div class="row  justify-content-center">
                    <div class="col-lg-6">
                        <h3>Recharge your device</h3>
                        <p>Recharge your device in easy step and in secure way</p>
                    </div>
                </div>
    
                <div class="row footer-newsletter justify-content-center">
                    <div class="col-lg-6">
                        <form action="" method="post">
                            <input type="email" name="email" placeholder="Enter your Email"><input type="submit"
                                value="Subscribe">
                        </form>
                    </div>
                </div>
    
                <div class="social-links">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
    
            </div>
        </div>
    
        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Recharge App</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                
                Designed by <a href="{% static 'https://bootstrapmade.com/' %}">Alexander</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js"></script>

</body>

</html>